.container {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.inner {
    height: 52px;
}

@media (max-width:1024px) {
    .container {
        display: none;
    }
}