.button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.image {
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
}

.arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #898989;
    display: inline-block;
}

.title {
    display: none;
    font-size: 15px;
    color: #000000;
    padding: 10px 0;
    transition: color 0.4s;
}

.title:hover {
    color: #5DCB8E;
}

@media (max-width:1024px) {
    .button {
        text-align: center;
        width: 100%;
    }

    .image {
        display: none;
    }

    .arrow {
        display: none;
    }

    .title {
        display: block;
        
    }
}