.container {
    max-width: 1250px;
    height: calc(100% - 65px);
    margin: 0 auto;
    padding:  20px 40px 0;
    box-sizing: border-box;
}

.tabs {
    height: 100%;
}

@media (max-width:1024px) {
    .container {
        padding: 10px 10px 0;
    }
}