.container {
    height: 100%;
    margin-left: 310px;
}

.inner {
    overflow: scroll;
}

.connection {
    text-align: center;
}

.connection_text {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 20px;
}

.bottom {
    position: relative;
    padding: 14px 0;
    border-top: 1px solid #C7C7C7;
    box-sizing: border-box;
}

.input {
    margin-right: 140px;
}

.button {
    position: absolute;
    right: 0;
    top: 14px;
}
