.main {
    margin-bottom: 15px;
}

.container {
    max-width: 85%;
    display: inline-block;
    position: relative;
    padding-left: 52px;
    box-sizing: border-box;
}

.inner {
    position: relative;
    display: inline-block;
    padding: 4px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
}

.avatar {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: -5px;
}

.time {
    position: absolute;
    left: 100%;
    margin-left: 10px;
    font-size: 12px;
    line-height: 22px;
    color: #C7C7C7;
    vertical-align: middle;
    white-space: nowrap;
}

.text {
    font-family: OpenSans;
    font-size: 14px; 
    line-height: 20px;
}

.status {
    margin-right: 10px;
}

.sender {
    text-align: right;
}

.sender .container {
    padding-left: 0;
    text-align: left;
}

.sender .inner {
    background-color: #5DCB8E;
    color: #ffffff;  
}

.sender .info {
    position: absolute;
    right: 100%;
    left: auto;
    white-space: nowrap;
}

.sender .time {
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 10px;
}

.first.main {
    margin-bottom: 5px;
}

.between.main {
    margin-bottom: 5px;
}

.first .inner {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.between .inner {
    border-radius: 4px;
}

.last .inner {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

.alone .inner {
    border-radius: 13px;
}

.first .avatar {
    display: none;
}

.between .avatar {
    display: none;
}

.first .time {
    display: none;
}

.between .time {
    display: none;
}