.container {
    height: 32px;
    width: 33.3333%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    color: #000000;
    background-color: transparent;
    transition: albackground-color, border-color, color 0.4s;
}

.container:not(:first-child) {
    margin-left: -1px;
}
.container:first-child {
    border-radius: 5px 0 0 5px;
}
.container:last-child {
    border-radius: 0 5px 5px 0;
}

.container:hover {
    position: relative;
    border-color: #5dcb8e;
    color: #5dcb8e;
}

.active {
    background-color: #5DCB8E;
    color: #ffffff;
    z-index: 2;
    position: relative;
    border-color: transparent;
    cursor: default;
}

.active:hover {
    color: #ffffff;
    border-color: transparent;
}

.title {
    font-size: 14px;
    line-height: 32px;
}